input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
  }
  
  input[type="checkbox"].toggle + label {
    position: absolute;
    display: flex ;
    align-items: center;
    cursor: pointer;
  }
  /*this is the backgorund oval box*/
  input[type="checkbox"].toggle + label::before {
    content: "";
    width: 6em;
    height: 3em;
    background-color: hsl(0, 80%, 90%);
    border-radius: 3em;
    margin-right: .75em;
    transition: background-color 200ms ease-in-out;
  }
  /*this is the button*/
  input[type="checkbox"].toggle + label::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "\2715";
    font-size: 1.5em;
    height: 2.7em;
    left: .1em;
    width: 1.9em;
    height: 1.9em;
    background-color: hsl(0, 80%, 60%);
    color: white;
    border-radius: 3em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
  }
  /*this is the border that appears when we click the button*/
  input[type="checkbox"].toggle:focus + label::before {
    outline: 1px solid black;
  }
    /*this is the backgorund oval box's color*/
  input[type="checkbox"].toggle:checked + label::before {
    background-color: hsl(100, 70%, 90%);
  }
  /*this is the button's color*/
  input[type="checkbox"].toggle:checked + label::after {
    content: "\2713";
    transform: translateX(100%);
    background-color: hsl(100, 70%, 60%);
  }
  
  input[type="checkbox"].toggle:disabled + label {
    color: #000000;
  }
  
  input[type="checkbox"].toggle:disabled + label::before {
    background-color: #bababa;
  }
  
  input[type="checkbox"].toggle:disabled + label::after {
    background-color: #777;
  }