.roof1, .roof2{
    top: -10px;
}

.roof1{
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
}

.roof2{
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
}

.body{
    width: 33px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 29px;
    left: 11px;
    border-radius: 0% 0% 5px 5px;
}

.door{
    width: 8px;
    height: 12px;
    background-color: grey;
    position: absolute;
    top: 47px;
    left: 23px;
}